.flat-card {
  width: 20%;
  overflow: hidden;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;

  &:hover {
    z-index: 100;
    padding: .5rem;
    overflow: visible;
  }

  @media (max-width: 650px) {
    width: 33.3%;
    flex-grow: 1;
  }

  svg {
    position: relative;
    transition: .3s;
    transform: translate(0, 100%);
    font-size: 3rem;
  }
  &:hover svg {
    transform: translate(0, -65%);
    padding: .6rem;
    border-radius: 50%;  
    background: inherit; 
  }

  .bottom-container {
    color: black;
    position: relative;
    display: hidden;
    transition: top .3s, opacity .75s;
    top: 250px;
    opacity: 0;
    
    h2 {
      font-size: 1.75rem;
      white-space: nowrap;    
    }

    @media (max-width: 900px) {
      h2 {
        font-size: 1rem;
      }

      p {
        font-size: .9rem;
      }
    }
  }
  
  &:hover .bottom-container {
    opacity: 1;
    top: 0;
    display: block;
  }
}

.yellow {
  background: yellow;
}
.orange {
  background: orange;
}
.red {
  background: crimson;
}
.lightgreen {
  background: lightgreen;
}
.rebeccapurple {
  background: rebeccapurple;
}
