.card-link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'sans-serif';
  font-weight: bold;
}

.card-holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px 30px;
  background: white;
  min-height: 400px;
}

h1.indexHeader {
  margin: 1rem;
  color: white;
  letter-spacing: 1.5px;
  color: black;
}