.flip {
  margin: 5rem auto 0;
  width: 1000px;
  height: 700px;
  // background-image: url(./../images/book.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  // background-image: url(./../images/book-pages.png);
  height: 97%;
  width: 86%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.75rem;
  margin: .2rem 4.2rem ;
  columns: 2;
}