.footer-container {
  width: 100%;
  background: hsl(0, 0%, 4%);
  display: flex;
  padding: 1rem 2rem;
  text-align: center;
  flex-direction: column;
}

.footer-container a {
  color: #ccc;
  text-decoration: none;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'sans-serif';
  padding: 0.25rem 3rem;
  font-size: 0.75rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.footer-container a:hover {
  color: rgb(230, 195, 0);
  transform: scale(1.1);
}

.footer-left {
  order: 2;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 15px;
  border-top: 1px solid #ccc;
  padding: 1.5rem 0;
}

.footer-right {
  width: 100%;
}
.footer-icon {
  font-size: 1.5rem;
  margin: 1.5rem;
}

@media screen and (max-width: 650px) {
  .footer-icon {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 420px) {
  .footer-icon {
    font-size: 0.5rem;
    margin: 0;
  }
}
.footer-container h4 {
  order: 3;
  color: rgba(204, 204, 204, 0.555);
  font-size: 0.7rem;
  margin: 10px 0 auto;
  transition: all 0.3s ease-in-out;
}

.footer-container h4:hover {
  color: rgb(230, 195, 0);
}
